body {
    position: relative;
}

.navbar-brand {
    font-size: x-large;
}

#main-body {
    margin: 10px;
}

.nav-sub {
    float: right;
}

.column {
    padding: 10px;
}

#peter-pic {
    display: block;
    margin: 0 auto;
}

.important {
    font-family: "Quicksand", sans-serif;
}

.active {
    font-weight: bold;
}

.about-text {
    font-size: x-large;
}

.edu-institution {
    font-size: larger;
}

i {
    float: right;
    margin: 10px;
}

.card {
    background-color: lightgray;
}

.project-card {
    background-color: rgb(105, 179, 221);
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-description {
    margin: 10px;
}

.button-bottom {
    position: absolute;
    bottom: 0;
    margin: 10px;
}

.button-left {
    left: 0;
}

.button-right {
    right: 0;
}

.gif-project {
    width: 50%;
}