body {
    position: relative;
}

#main-body {
    margin: 10px;
}

a {
    float: right;
}

.column {
    padding: 10px;
}

#peter-pic {
    display: block;
    margin: 0 auto;
}

.important {
    font-family: "Quicksand", sans-serif;
}

.active {
    font-weight: bold;
}

.about-text {
    font-size: x-large;
}

.edu-institution {
    font-size: larger;
}

i {
    float: right;
    margin: 10px;
}

.card {
    background-color: lightgray;
}