/* necessary for scrollspy */
body {
    position: relative;
    background-color: rgb(146, 220, 229);
}

.navbar-brand {
    font-size: x-large;
}

.navbar-color {
    background-color: rgb(43, 50, 63)
}

.nav-sub {
    float: right;
}

.column {
    padding: 10px;
}

#peter-pic {
    display: block;
    margin: 0 auto;
}

.contact-icon {
    
    position: absolute;
    bottom: 0px;
    

}

.important {
    font-family: "Quicksand", sans-serif;
}

.active {
    font-weight: bold;
}

.about-text {
    font-size: x-large;
}

.edu-institution {
    font-size: larger;
}

/* icons */
.edu-icon {
    float: right;
    margin: 10px;
}



.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-description {
    margin: 10px;
}

.button-bottom {
    position: absolute;
    bottom: 0;
    margin: 10px;
}

.button-left {
    left: 0;
}

.button-right {
    right: 0;
}

.gif-project {
    width: 50%;
}

.contact-link {
    width: 25%;
}